#root {
  max-width: 128rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10.3rem;
}

.container .generec-img img {
  width: 52.94rem;
  height: 53.99rem;
}