.password-requirements {
  font-size: 1.2rem;
  color: var(--warning-required);
  opacity: 0.8;
  margin-top: 0.5rem;
  text-align: left;
}

.group-form form .group-input select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 40rem;
  padding: 1.6rem 2.4rem;
  color: var(--color-gray);
  /* Adiciona um ícone de seta para baixo */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 2.4rem center;
  background-size: 1.6rem;
  cursor: pointer;
}

.group-form form .group-input select option {
  border: .1rem solid var(--purple-heart-400);
  background-color: var(--purple-heart-100);
  border-radius: .8rem;
  width: 40rem;
  color: var(--color-gray);
}

.group-form form .group-input select option:hover {
  background-color: var(--purple-heart-600);
}