.shared-loading {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--purple-heart-500);
}

.shared-loading .loader {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: .2rem solid var(--purple-heart-300);
  border-top-color: var(--purple-heart-200);
  animation: spin 1s linear infinite;

  & .message {
    color: var(--color-black);
  }
}

.shared-loading .loader span.message {
  color: var(--color-black);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.shared-empty,
.shared-error {
  padding: 1.2rem;
  color: var(--muted);
}