.main-relatorios {
  height: 70dvh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-background);
}

.main-relatorios .cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}

.main-relatorios .actions {
  margin-top: 2.4rem;
  display: flex;
  justify-content: space-between;
}

.actions button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.actions button svg {
  stroke: var(--purple-heart-50);
  background: none;
}

Table button {
  padding: .8rem 1.6rem;

}

Table button svg {
  stroke: var(--purple-heart-50);
  background: none;
}