.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  background-color: var(--purple-heart-50);
  border-bottom: .1rem solid var(--purple-heart-200);
}

.header-container h1 {
  color: var(--purple-heart-950);
  font-size: 2.4rem;
  font-weight: bold;
}

.user-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info span {
  color: var(--purple-heart-900);
  font-size: 1.6rem;
  font-weight: 500;
}