.sidebar-container {
  width: 20rem;
  height: 100%;
  border-right: .1rem solid var(--purple-heart-200);
}

.sidebar-container h1 {
  color: var(--purple-heart-900);
  font-size: 2.4rem;
  font-weight: bold;
}

.sidebar-container nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: .9rem;
}

.sidebar-container nav a {
  padding: 1.2rem 2.4rem;
  color: #000000;
  text-decoration: none;
  font-size: 1.6rem;
  transition: background-color 0.2s;
  border-radius: .8rem;
}

.sidebar-container nav a:hover {
  background-color: var(--purple-heart-100);
  color: var(--purple-heart-900);
}

.sidebar-container nav a.active {
  background-color: var(--purple-heart-100);
  color: var(--purple-heart-900);
  font-weight: 600;
}

.sidebar-container nav a.active::before {
  content: "";
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--purple-heart-500);
  border-radius: 50%;
  margin-right: 1rem;
}

.sidebar-container nav .sidebar-footer {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: .9rem;
}

.sidebar-container nav .sidebar-footer a {
  margin-top: 2.4rem;
  font-weight: 500;
}

.sidebar-container nav .sidebar-footer button.logout-button {
  padding: 1.2rem 2.4rem;
  color: #000000;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: transparent;
  border-radius: .8rem;
}

.sidebar-container nav .sidebar-footer button.logout-button:hover {
  background-color: var(--purple-heart-100);
  color: var(--purple-heart-900);
}

hr {
  width: 9.6rem;
  margin-left: 2.4rem;
  border: none;
  border-top: .1rem solid var(--purple-heart-200);
}