.sidebar-container {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  border-right: .1rem solid var(--purple-heart-200);
}

.sidebar-container h1.logo-system {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  color: var(--purple-heart-900);
  padding-bottom: var(--size-24);
  border-bottom: .1rem solid var(--purple-heart-200);
}

.sidebar-container nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80dvh;
}

.sidebar-container nav a {
  padding: 1.2rem 2.4rem;
  color: #000000;
  text-decoration: none;
  font-size: 1.4rem;
  transition: background-color 0.2s;
  border-radius: .8rem;
}

.sidebar-container nav a:hover {
  background-color: var(--purple-heart-100);
  color: var(--purple-heart-900);
}

.sidebar-container nav a.active {
  background-color: var(--purple-heart-100);
  color: var(--purple-heart-900);
  font-weight: 600;
}

/* .sidebar-container nav a.active::before {
  content: "";
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background-color: var(--purple-heart-500);
  border-radius: 50%;
  margin-right: 1rem;
} */

/* css of the Icon svgs */
.sidebar-container nav .Icon-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .4rem;
}

.sidebar-container nav .Icon-link svg {
  width: 1.4rem;
  height: 1.4rem;
  fill: currentColor;
}

.sidebar-container nav .itens-nav-grup {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: .8rem;
}

.sidebar-container nav .sidebar-footer {
  padding-top: var(--size-24);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: .8rem;
  border-top: .1rem solid var(--purple-heart-200);
}

.sidebar-container nav .sidebar-footer a {
  font-weight: 500;
}

.sidebar-container nav .sidebar-footer button.logout-button {
  padding: 1.2rem 2.4rem;
  color: #000000;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: transparent;
  border-radius: .8rem;
}

.sidebar-container nav .sidebar-footer button.logout-button:hover {
  background-color: var(--purple-heart-100);
  color: var(--purple-heart-900);
}