*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--purple-heart-50);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* colors */
  /* colors neutral */
  --color-black: #010101;
  --color-gray: #333;
  /* warning required */
  --warning-required: #dc3545;
  --warning-online: #10b981;
  --muted: #6c757d;
  /* color scrollbar */
  --scrollbar-background: rgba(159, 117, 255, 0.5) transparent;
  /* primary colors */
  --purple-heart-50: #f3f1ff;
  --purple-heart-100: #ebe5ff;
  --purple-heart-200: #d9ceff;
  --purple-heart-300: #bea6ff;
  --purple-heart-400-50: rgba(159, 117, 255, 0.5);
  --purple-heart-400: #9f75ff;
  --purple-heart-500: #843dff;
  --purple-heart-600: #7916ff;
  --purple-heart-700: #6b04fd;
  --purple-heart-800: #5a03d5;
  --purple-heart-900: #4b05ad;
  --purple-heart-950: #2c0076;
  --linear-grad: linear-gradient(to left top, #F3F1FF 0%, #D9CEFF 50%, #9F75FF 100%);
  --box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.1);

  /* size all */
  --size-2: .2rem;
  --size-4: .4rem;
  --size-6: .6rem;
  --size-8: .8rem;
  --size-12: 1.2rem;
  --size-16: 1.6rem;
  --size-24: 2.4rem;
  --size-32: 3.2rem;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', system-ui, sans-serif;
  font-weight: 400;
}

body {
  /*
  display: flex;
  place-items: center; 
  */
  height: 100dvh;
  width: 100dvw;
  background-color: var(--purple-heart-50);
}

.container-item {
  padding: var(--size-24);
}

input,
select {
  outline: var(--purple-heart-600);
  border: .1rem solid var(--purple-heart-400);
  border-radius: .8rem;
  background-color: var(--purple-heart-100);
}

input::placeholder {
  color: var(--color-black);
  opacity: 50%;
}

input:focus {
  outline: var(--purple-heart-900);
}

button {
  border: none;
  border-radius: .8rem;
  padding: 1.4rem 2.4rem;
  cursor: pointer;
  background-color: var(--purple-heart-500);
  transition: background-color .2s ease-in-out;
}

button:hover {
  background-color: var(--purple-heart-600);
}

.spinning {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}