*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Open Sans', system-ui, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--purple-heart-50);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* colors */
  --purple-heart-50: #f3f1ff;
  --purple-heart-100: #ebe5ff;
  --purple-heart-200: #d9ceff;
  --purple-heart-300: #bea6ff;
  --purple-heart-400: #9f75ff;
  --purple-heart-500: #843dff;
  --purple-heart-600: #7916ff;
  --purple-heart-700: #6b04fd;
  --purple-heart-800: #5a03d5;
  --purple-heart-900: #4b05ad;
  --purple-heart-950: #2c0076;

  --linear-grad: linear-gradient(to left top, #F3F1FF 0%, #D9CEFF 50%, #9F75FF 100%);
  ;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 32rem;
  min-height: 100vh;
  background-color: var(--purple-heart-50);
}

input,
select {
  outline: var(--purple-heart-600);
  border: .1rem solid var(--purple-heart-400);
  border-radius: .8rem;
  background-color: var(--purple-heart-100);
}

input::placeholder {
  color: #000000;
  opacity: 50%;
}

input:focus {
  outline: var(--purple-heart-900);
}

button {
  border: none;
  border-radius: .8rem;
  padding: 1.2rem 2.4rem;
  background-color: var(--purple-heart-500);
  cursor: pointer;
}

/* button:focus,
button:focus-visible {
  outline: .4rem auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}